button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 5px;
    width: 400px;
    padding: 15px;
    background: #5edb59;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #af0707;
    color: #fff;
    font-weight: bold;
}